
body {
    padding-top: 50px;
}
.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        bottom: 0;
        display: block;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 20px;
        position: fixed;
        top: 51px;
        z-index: 1000;
    }
}
.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px;
}
.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-sidebar > .active > a {
    background-color: #428bca;
    color: #fff;
}
.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-left: 40px;
        padding-right: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    border-radius: 50%;
    display: inline-block;
}
.nav > li.active > a:hover {
    background: #428bca none repeat scroll 0 0;
}
.help-block {
    font-size: 12px;
}
.grey {
    color: #888;
}
.p15 {
    padding: 15px;
}
.modal-content {
    z-index: 10;
}
.tRight {
    text-align: right;
}
.vLabel {
    color: #888;
    padding: 7px;
}
.absolute {
    left: 50%;
    margin: -300px 0 0 -300px;
    position: absolute;
    top: 50%;
    z-index: 1000;
}
.fullText {
    height: 500px;
}
.imgConteiner {
}
.imgDel {
    float: right;
}
.imageCheck {
    bottom: 0;
    right: 7px;
}
.noPadding {
    padding: 0;
}
.noMargin {
    margin: 0;
}
.imgControl {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    height: auto;
    width: 100%;
    z-index: 100;
}
.imgBlock {
    display: inline-block;
    overflow: hidden;
}
.imgTeg {
    height: 170px;
}
.propPos{
    width: 44px;
}
#result_div_id a{
    color:yellow;
}