
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Roboto+Slab:400,300,100,700&subset=latin,cyrillic";
html, body {
    font-family: Roboto Slab;
    overflow-x: hidden;
}
.navbar {
    font-family: Roboto Slab;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Open Sans Condensed;
}
body {
    padding-top: 10px;
}
footer {
    padding: 30px 0;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #640050;
}
.dropdown-menu > li > a:hover {
    background-color: #640050;
}
.dropdown-menu > li > a:focus {
    background-color: #640050;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #640050;
}
@media screen and (max-width: 767px) {
.row-offcanvas {
    position: relative;
    transition: all 0.25s ease-out 0s;
}
.row-offcanvas-right {
    right: 0;
}
.row-offcanvas-left {
    left: 0;
}
.row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
}
.row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
}
.row-offcanvas-right.active {
    right: 50%;
}
.row-offcanvas-left.active {
    left: 50%;
}
.sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
}
}
.navbar-inverse {
    background-color: #740060;
}
.topText {
    color: #e74944;
    font-family: Open Sans Condensed;
    font-size: 20pt;
    font-weight: bold;
    padding-top: 10px;
}
.phone {
    padding-top: 40px;
    text-align: center;
}
.phone span {
    font-size: 19pt;
}
.mode {
    padding-top: 50px;
    text-align: right;
}
.logo {
    padding: 10px 10px 10px 0;
    width: 200px;
}
.topText {
    color: #740060;
    font-family: Open Sans Condensed;
    font-size: 20pt;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
}
.question {
    background: #336699 none repeat scroll 0 0;
}
.question a {
    color: #fff !important;
}
.jumbotron h1 {
    font-family: open sans condensed !important;
    font-size: 27pt;
}
.brandsd {
    text-align: center;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.middleBut1 {
    text-align: right;
}
.middleBut2 {
    text-align: left;
}
@media all and (max-width: 1200px) {
.topBlock {
    text-align: center;
}
.logo {
    max-width: 100%;
    padding-top: 5px;
}
.topText {
    font-size: 14pt;
    padding-top: 5px;
}
.phone {
    padding-top: 10px;
}
.phone span {
    font-size: 23pt;
}
.mode {
    margin-bottom: 5px;
    padding-top: 10px;
}
.middleBut1 {
    text-align: center;
}
.middleBut2 {
    font-size: 12pt !important;
    margin-top: 5px;
    text-align: center;
}
.middleBut1 button {
    font-size: 11pt;
    max-width: 100%;
}
.middleBut2 button {
    font-size: 11pt;
}
footer div.col-sm-3 {
    text-align: center;
}
.jumbotron h1 {
    font-size: 23pt;
}
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #740060;
}
.navbar-inverse {
    border: medium none;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #eee;
    color: #000;
}
a {
    color: #740060;
}
.navbar-inverse .navbar-toggle {
    background: #888 none repeat scroll 0 0;
    border-color: #777;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: #777 none repeat scroll 0 0;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #777;
}
.btn-primary {
    background: #888 none repeat scroll 0 0;
    border-color: #888;
}
.btn-primary:hover, .btn-primary:focus {
    background: #777 none repeat scroll 0 0;
    border-color: #995;
}
@media all and (max-width: 400px) {
.middleBut1 button {
    font-size: 9pt;
}
}
@media all and (min-width: 750px) {
.topTextNar {
    display: none;
}
.topText {
    display: block;
}
}
@media all and (max-width: 750px) {
.topText {
    display: none;
}
.topTextNar {
    color: #740060;
    display: block;
    font-family: Open Sans Condensed;
    font-size: 20pt;
    font-weight: bold;
    padding-bottom: 10px;
}
}
error {
    color: #e74944;
}
.actionUnit {
    border-bottom: 1px solid #eee;
    display: table;
    margin-bottom: 10px;
}
.autoList h3, .autoList img {
    text-align: center;
}
td{vertical-align: middle !important;}
.carousel-inner .item{text-align: center;}
.carousel-inner .item > img{display: inline-block;}
.carousel-control.right{
    background-image: none;
}
.carousel-control.left{
    background-image: none;
}
.carousel-control{opacity: 1;}